td{
     width: 50px;
     height: 50px;
     text-align: center;
}
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even){
     background-color: palevioletred;
}
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd){
     background-color: rgb(121, 51, 74);
}
table{
     border: 10px solid black;
     border-collapse: collapse;
}
h1{
     font-family: "Satisfy" ;
     color: palevioletred;
}
